<div class="article-list">
    <% if (index) { %>
    <% page.posts.forEach(function(post) { %>
    <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
        <h2 class="article-title" itemprop="name">
            <a class="title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </h2>
        <p class="article-meta">
            <%- partial('common/post/date', { date_format: 'YYYY-MM-DD HH:ss:mm', post: post }) %>
            <%- partial('common/post/category', { post: post }) %>
            <%- partial('common/post/wordcount', { post: post }) %>
        </p>
    </article>
    <% }) %>
    <% } %>
</div>