<span class="post-wordcount" itemprop="wordCount">
    <%= __('article.wordcount') %><%= wordcount(post.content) %> <%= __('unit.word') %>，<%= __('article.readcount') %> <%= min2read(post.content) %> <%= __('unit.time') %>.
</span>

