<div class="page-header">
    <h1 itemprop="title"><img src="/images/icon/site.svg" alt="<%= page.title %>"><%= page.title %></h1>
    <p><%= page.desc %></p>
</div>

<div class="page-content site-content">
    <%
        let tools = site.data.sites.tools;
        let blogs = site.data.sites.blogs; 
    %>
    <div class="site-row">
        <div class="site-cloum site-tools">
            <h2 class="site-title">资源工具</h2>
            <% for (let index in tools) { %>
                <% let item = tools[index]; %>
                <div class="site-item">
                    <img src="<%= item.logo %>" alt="<%= item.title %>">
                    <a href="<%= item.url %>" target="_blank"><%= item.title %></a>
                </div>
            <% } %>
        </div>
    
        <div class="site-cloum site-blogs">
            <h2 class="site-title">优质博客</h2>
            <% for (let index in blogs) { %>
                <% let item = blogs[index]; %>
                <div class="site-item">
                    <img src="<%= item.logo %>" alt="<%= item.title %>">
                    <a href="<%= item.url %>" target="_blank"><%= item.title %></a>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- partial('common/comment') %>